/* Responsiveness */

@media (max-width: 1200px) {

    /* PROJECTS RESIZE  */
    .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content-text h1 {
        font-size: 2rem;
    }

    .content-text h2 {
        font-size: 1rem;
    }


    #projects h2 {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 0.2em;
        text-shadow: 0 0 20px var(--primary-color);
        margin-top: 5em;
    }

    #projects p {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 2em;
    }

    /* SECTION 1  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .profile-gif {
        margin-top: 80px;
        width: 300px;
        border-radius: 80%;
    }


    .body-text h1 {
        font-size: 2rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    .body-text h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 1em;
        text-shadow: 0 0 20px var(--secondary-color);

    }

    .body-text p {
        padding: 0.5rem;
        max-width: 700px;
        text-transform: --weight-bold;
        font-size: 1rem;
        margin-bottom: 2em;
    }

}


@media (max-width: 900px) {

    /* PROJECTS RESIZE  */
    .project {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .content-text h1 {
        font-size: 2rem;
    }

    .content-text h2 {
        font-size: 1rem;
    }


    #projects h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 0.2em;
        text-shadow: 0 0 20px var(--primary-color);
        margin-top: 5em;
    }

    #projects p {
        font-size: 1rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 2em;
    }

    /* SECTION 1  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .profile-gif {
        margin-top: 80px;
        width: 300px;
        border-radius: 80%;
    }


    .body-text h1 {
        font-size: 2rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    .body-text h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 1em;
        text-shadow: 0 0 20px var(--secondary-color);

    }

    .body-text p {
        padding: 0.5rem;
        max-width: 700px;
        text-transform: --weight-bold;
        font-size: 1rem;
        margin-bottom: 2em;
    }

}


/* Media Queries */
@media (max-width: 810px) {
    .glitch {
        font-size: 1em;
        left: 12%;
    }


    /* PROJECTS RESIZE  */
    .project {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    #projects h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 0.2em;
        text-shadow: 0 0 20px var(--primary-color);
        margin-top: 5em;
    }

    #projects p {
        font-size: 1rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 2em;
    }

    /* SECTION 1  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .profile-gif {
        margin-top: 80px;
        width: 300px;
        border-radius: 80%;
    }


    .body-text h1 {
        font-size: 2rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    .body-text h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 1em;
        text-shadow: 0 0 20px var(--secondary-color);

    }

    .body-text p {
        padding: 0.5rem;
        max-width: 700px;
        text-transform: --weight-bold;
        font-size: 1rem;
        margin-bottom: 2em;
    }

}

/* Media Queries */
@media (max-width: 700px) {
    .glitch {
        font-size: 1em;
        left: 16%;
    }


    /* PROJECTS RESIZE  */
    .project {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    #projects h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 0.2em;
        text-shadow: 0 0 20px var(--primary-color);
        margin-top: 5em;
    }

    #projects p {
        font-size: 1rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 2em;
    }

    /* SECTION 1  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .profile-gif {
        margin-top: 80px;
        width: 300px;
        border-radius: 80%;
    }


    .body-text h1 {
        font-size: 2rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    .body-text h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 1em;
        text-shadow: 0 0 20px var(--secondary-color);

    }

    .body-text p {
        padding: 0.5rem;
        max-width: 700px;
        text-transform: --weight-bold;
        font-size: 1rem;
        margin-bottom: 2em;
    }

}

/* Media Queries */
@media (max-width: 500px) {
    .glitch {
        font-size: 1em;
        left: 20%;
    }


    /* PROJECTS RESIZE  */
    .project {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    #projects h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 0.2em;
        text-shadow: 0 0 20px var(--primary-color);
        margin-top: 5em;
    }

    #projects p {
        font-size: 1rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 2em;
    }

    /* SECTION 1  */

    .section1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .profile-gif {
        margin-top: 80px;
        width: 300px;
        border-radius: 80%;
    }


    .body-text h1 {
        font-size: 2rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    .body-text h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        transition: 0.2s ease-in-out;
        margin-bottom: 1em;
        text-shadow: 0 0 20px var(--secondary-color);

    }

    .body-text p {
        padding: 0.5rem;
        max-width: 700px;
        text-transform: --weight-bold;
        font-size: 1rem;
        margin-bottom: 2em;
    }

}