/* Footer */
#footer {
    background: #111111;
}

#footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    min-height: 120px;
    text-align: center;
}

#footer a {
    font-size: 1.2rem;
    color: #fff;
}

#footer a:hover {
    opacity: 0.6;
    color: rgb(222, 92, 255);
}

#footer .social {
    margin: 0.9rem 0;
}

#footer .social img {
    width: 20px;
    height: 20px;
}

#footer .social a {
    margin: 0 0.5rem;
}


#footer p {
    font-size: 0.8rem;
}