@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url(./navbar.css);
@import url(./glitch.css);
@import url(./section1.css);
@import url(./projects.css);
@import url(./resume.css);
@import url(./footer.css);

/* MEDIA QUERIES */
@import url(./hamburger.css);
@import url(./desktop.css);
@import url(./mobile.css);


/* VARIABLES */

:root {
    --background-color: black;
    --primary-color: #1daa0b;
    --secondary-color: #af3ce0;
    --text-color: #fff;
    --icons-color: #ffffff;
    --card-background: #f4f4f4;

    /* Font Weight */
    --weight-small: 400;
    --weight-semibold: 600;
    --weight-bold: 800;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Main styling */
body {
    background: var(--bg-primary);
    color: var(--text-color);
    font-family: "Verdana", monospace;
    line-height: 1.5;
    height: 100vh;

}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}