@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

@import url(./glitch.css);


/* variables */
:root {
  /* Colors */
  --primary-color: #1daa0b;
  --secondary-color: #af3ce0;
  --bg-primary: #000000;
  --text-color: #ffffff;
  --icons-color: #ffffff;
  --card-background: #f4f4f4;


  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  /* Font Weight */
  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  /* Max width */
  --width-small: 600px;
  --width-medium: 1100px;
  --width-large: 1300px;
}


/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Main styling */
body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--bg-primary);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 80px;
  width: 100%;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
}

.navbar .nav-link {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semibold);
}

/* .navbar #logo img {
  display: block;
  width: 40px;

} */

.navbar .btn {
  margin-right: 1.5rem;
}

.fa.fa-user-circle {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}


/* hamburger */
.hamburger {
  margin-bottom: 0.1rem;
  display: none;
}

.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  background-color: var(--icons-color);
}

/* Hero section */
#hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-gif {
  width: 500px;
}

#projects h2 {
  font-size: 3rem;
  line-height: 1.2;
  transition: 0.2s ease-in-out;
  margin-bottom: 0.2em;
  text-shadow: 0 0 20px var(--primary-color);
  margin-top: 3em;
}

#projects p {
  font-size: 1.5rem;
  line-height: 1.2;
  transition: 0.2s ease-in-out;
  margin-bottom: 2em;


}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.9rem;
}

.card .project-bio p {
  font-size: 0.83rem;
}

.card .project-bio h3 {
  font-size: 0.9rem;
}

.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;

}

.project-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 160px;
  left: 10px;
}

/* Footer */
#footer {
  background: #111111;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 80px;
  text-align: center;
}

#footer a {
  font-size: 1.2rem;
  color: #fff;
}

#footer a:hover {
  opacity: 0.6;
  color: rgb(222, 92, 255);
}

#footer .social {
  margin: 0.9rem 0;
}

#footer .social img {
  width: 20px;
  height: 20px;
}

#footer .social a {
  margin: 0 0.5rem;
}


#footer p {
  font-size: 0.8rem;
}

.fa-angles-down {
  font-size: 3rem;
  animation: cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  margin: 0 10rem;
}

#resume {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* padding: 2rem; */
  font-family: 'Roboto Mono', monospace;
  font-size: medium;;
  height: 100vh;

}

#resume header {
  margin-bottom: 1em;
  text-align: center;

}

#resume h2 {
  font-size: large;
  text-align: center;
  margin-bottom: 10px;
}



.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.download i {
  font-size: 5rem;
  margin: 0 2rem;
  margin-bottom: 8rem;
}



/* Responsiveness */

@media (max-width: 1000px) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
}

@media (max-width: 670px) {
  .navbar .nav-menu {
    position: fixed;
    right: -100vw;
    top: 4.5rem;
    flex-direction: column;
    width: calc(80% - 10px);
    transition: 0.3s;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 5px;
    align-items: flex-start;
  }

  .navbar .btn {
    margin: 0;
    margin-top: 1rem;
  }

  .nav-menu.active {
    right: 20px;
  }

  .nav-menu .nav-link {
    font-size: 0.9rem;
    margin: 0 0.2rem;
  }

  .nav-menu li {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .nav-menu .btn {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
  }

  .hamburger.active {
    border: 1px dotted gray;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .project {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-container .btn {
    border-radius: 5px;
    width: 80%;
  }

  #resume {
    width: 300px;
    height: 100vh;
    margin: 100px auto;
  }

  #resume header {
    margin-bottom: 0.8em;
    text-align: center;
  
  }

  #resume h2 {
    margin-bottom: 20px;
    text-align: center;
  
  }

  #resume h3 {
    margin-bottom: 0;
  }

  .download i {
    font-size: 3rem;
    margin: 0 2rem;
    margin-bottom: 20px;
    
  }

  .profile-gif {
    width: 150px;
    border-radius: 80%;
    margin-top: 10em;
  }
}